# Ignore Database and temporary data
*.sqlite3
*.db
data/raw/modified_sms_v2.xml
data/processed/*.json

# Ignore Python specific files
__pycache__/
*.pyc
.env
venv/
env
ENV/
.venv/

# Ignore Logs
data/logs/*.log

# Operating System files
.DS_Store
Thumbs.db

/resources

# Automation Scripts
git_automate.ps1

