# Ignore Database and temporary data
*.sqlite3
data/raw/modified_sms_v2.xml
data/processed/*.json

# Ignore Python specific files
__pycache__/
*.pyc
.env
venv/
.venv/

# Ignore Logs
data/logs/*.log

# Operating System files
.DS_Store
Thumbs.db

/resources